@font-face{
  font-family: 'Anton';
  src: url('../assets/font/Anton/Anton-Regular.ttf') format('truetype');
}
.hello {
  color: red;
  font-family: 'Anton', sans-serif;
}
.img {
  background-image: url("./meinv.png");
  width: 300px;
  height: 250px;
}
